<app-header [logoURL]="'../../assets/MassTer.svg'" [loggedIn]="false"> </app-header>

<div class="forgot-password-background">
  <div class="forgot-password-content">
    <div class="card-container">
      <div [routerLink]="['/login']" class="back-to-sign-in">
        <img src="../../assets/chevron-left.svg" alt="chevron-left svg" />
        <div class="back-to-sign-in-text">
          {{ translations.forgot_password_back_to_sign_in }}
        </div>
      </div>
      <mat-card class="forgot-password-card">
        <mat-card-title class="forgot-password-title">{{ translations.forgot_password_title }}</mat-card-title>
        <mat-card-content class="forgot-password-card-content">
          <form [formGroup]="form" class="forgot-password-form">
            <div class="info-container">
              <div *ngIf="info" class="info-message">
                <img src="../../assets/information-outline.svg" alt="information-outline SVG" />
                <div class="info-message-text">
                  {{ info }}
                </div>
              </div>
            </div>

            <div class="error-container">
              <div *ngIf="error" class="error-message">
                <img src="../../assets/alertCircle.svg" alt="alert-circle SVG" />
                <div class="error-message-text">
                  {{ error }}
                </div>
              </div>
            </div>

            <div class="forgot-password-text-container">
              {{ translations.forgot_password_text }}
            </div>
            <mat-form-field class="form-field">
              <mat-label>{{ translations.forgot_password_email_label }}</mat-label>
              <input type="email" matInput formControlName="email" (keydown)="onKeyDown()" />
            </mat-form-field>
            <app-button
              class="button"
              type="button"
              (click)="onSendPressed()"
              label="{{ translations.forgot_password_button }}"
            ></app-button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
