
::ng-deep body {
  margin: 0px;
}

.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/assets/login.png'), lightgray -177.044px -1.63px / 133.344% 105.595% no-repeat;
  background-color: #6599ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* optional, center the image */
}

.login-card-content {
  border-radius: 0 0 0.625rem 0.625rem;
}

.forgot-password {
  cursor: pointer;
  color: #392d93;
  display: flex;
  justify-content: end;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;

  a {
    z-index: 3;
  }
}

.login-card {
  min-width: 28.125rem;
  min-height: 22.8125rem;
  background: #f6f9ff;
  box-shadow: 0px 1px 4px 0px rgba(23, 70, 157, 0.25);
  border-radius: 0.625rem;

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }

  ::ng-deep .mat-mdc-input-element {
    color: var(--Black, #191842);
    font-size: 0.875rem;
    font-style: normal;
    font-family: 'Red Hat Text', sans-serif !important;
    font-weight: 400;
    line-height: normal;
  }

  ::ng-deep .mat-mdc-text-field-wrapper:hover {
    .mdc-line-ripple::before {
      color: #0041bf;
    }
  }

  ::ng-deep .mdc-line-ripple::before {
    color: #afadbc;
  }

  ::ng-deep .mdc-line-ripple--active::after {
    display: none;
  }

  ::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

  ::ng-deep .mdc-text-field {
    padding: 0 !important;
  }

  ::ng-deep .mdc-text-field__input {
    margin-top: 9px;
  }

  ::ng-deep .mat-mdc-form-field-icon-suffix>.mat-icon {
    padding-top: 2rem !important;
    box-sizing: content-box;
    transform: scale(0.8);
  }
}

:host ::ng-deep .mat-mdc-form-field {
  width: 13.5rem !important;
  padding-bottom: 0 !important;
  height: 80px !important;
  color: #6c6981 !important;
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  margin-bottom: -2rem !important;
}

:host ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  margin-top: 9px !important;
  color: #6c6981 !important;
  font-family: 'Red Hat Text', sans-serif !important;
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.form-field .mat-mdc-form-field {
  margin-bottom: -1.25em;
  margin-top: 9px;
  color: #6c6981;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 13.5rem !important;
  height: 0.0625rem;
}

.sign-in {
  color: #2b2367;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 !important;
  border: 55px !important;
  border-top: #d3d8f2 solid 1px !important;
  margin-top: 1rem;
  background-color: #f6f9ff;
}

.error-container {
  height: min-content;
  min-height: 40px;
  padding-top: 0.56rem;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: min-content;
  border-radius: 0.625rem;
  background: rgba(255, 229, 229, 0.5);
  color: #d90410;

  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.5rem;
}

.error-message-text {
  padding-left: 0.5rem;
}

.error {
  border-color: red;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.login-form {
  width: 13.5rem;
}

/* Change the white to the background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f6f9ff inset !important;
}

::-ms-reveal {
  display: none;
}

.red-line {
  ::ng-deep .mdc-line-ripple::before {
    color: red !important;
  }
}