mat-paginator {

  
    color: #333;
    background-color: transparent;
  }
  ::ng-deep .mdc-notched-outline > * {
    border: none !important;
  }
  .mat-paginator-page-size {
    border: none !important; 
  }


.mat-paginator-page-size mat-select .mat-option {
  padding: 8px 16px;   
  font-size: 14px;      
}
.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;}
    
:host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: flex-start;
  }

::ng-deep .mat-paginator-page-size-select {
    width: 27px!important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
}

::ng-deep .mat-select-value {
  color: #005999;
    font-weight: bold;
    font-size: 15px;
}
::ng-deep .mat-select-arrow {
    color: #005999;
}
::ng-deep .mat-option{
  padding: 0!important;

}
::ng-deep .mat-option-text {

    text-align: right;
}

 .mat-paginator-icon > path {  display: none; }

 .mat-paginator-navigation-previous {
    display: none !important;
}

.mat-paginator-navigation-next {
        display: none !important;
    }
 .mat-paginator-navigation-previous .mat-paginator-icon {
    background-image: url("/assets/image/common-icon/previous-icon.svg");
}

 .mat-paginator-navigation-next .mat-paginator-icon {
    background-image: url("/assets/image/common-icon/next-icon.svg");
}

