<div style="padding: 10px">
  <app-header [logoURL]="'/assets/MassTer.svg'" [loggedIn]="true"></app-header>

  <br />
  <br />
  <br />
  <br />

  <app-pagination [totalItems]="totalItems" [pageSize]="pageSize" (pageChange)="onPageChange($event)"> </app-pagination>

  <app-button class="button" type="button" [label]="'Next Step'" [srcImage]="'/assets/right-vector.svg'"></app-button>
  <app-button class="button" type="button" [label]="'disabled'" [disable]="true"></app-button>

  <lib-shared-library></lib-shared-library>

  <lib-shared-select></lib-shared-select>
</div>
