<div class="header">
  <div class="header-container">
    <div class="left-side">
      <img [src]="logoURL" alt="Logo" routerLink="/home" />
      <ul>
        <li *ngIf="loggedIn" [ngClass]="isHomeUrl ? 'home-url' : ''" class="project" (click)="navigateToProjects()">Projects</li>
      </ul>
    </div>
    <div [ngClass]="!loggedIn ? 'right-side not-logged-in' : 'right-side'">
      <img
        *ngIf="loggedIn"
        class="help"
        [src]="imageSrc"
        (mouseenter)="imageSrc = '/assets/help_bleu.svg'"
        (mouseleave)="imageSrc = '/assets/help.svg'"
        alt="help SVG"
        [matTooltip]="helpFaqTooltip"
        (click)="navigateToHelp()"
      />
      <div *ngIf="loggedIn" class="initial" mat-button [matMenuTriggerFor]="menu">
        {{ initials | uppercase }}
      </div>
      <div class="selected-language" [matMenuTriggerFor]="menuLanguage">{{ selectedLanguage }}</div>
    </div>
  </div>
</div>

<!-- switch between language-->
<mat-menu panelClass="panel-menu" #menuLanguage="matMenu" class="language-menu-item">
  <div class="menu-language">
    <button mat-menu-item  (click)="setLanguage(secondLanguage)">{{ secondLanguage }}</button>
  </div>
</mat-menu>

<mat-menu #menu="matMenu" >
  <div class="avatar-popup">
    <div class="user-details-container">
      <ul>
        <li class="username">
          {{ username }}
        </li>
        <li class="userEmail">
          {{ email }}
        </li>
        <li class="userRole" *ngIf="role">
          {{ role }}
        </li>
      </ul>
    </div>
    <hr />
    <div class="actions-container">
      <button class="header-menu" (click)="navigateToManageTeam()" *ngIf="role === userRoles.ADMIN">Manage team</button>
      <button class="header-menu" (click)="navigateToAccountSettings()">Account settings</button>
      <button class="header-menu" (click)="logOut()">Log out</button>
    </div>
  </div>
</mat-menu>
